:root {
  --font-size: 1rem;
  --normal-font: 'Overpass';
  --mono-font: 'Overpass Mono';

  --page-border-color: rgba(255, 255, 255, 0.33);
  --page-foreground-color: #ffffff;
  --page-background-color: rgba(0, 0, 0, 0.75);
  --page-border-radius: 0.5rem;
  --page-blur: 10px;
  --page-box-shadow: 0 0 1rem 1rem rgba(0, 0, 0, 0.1);

  --text-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
}
@media only screen and (max-device-width: 480px) {
  :root {
    --font-size: 2rem;
  }
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  border: 0;
  padding: 0;
  background: #000000;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

body {
  overflow: auto;
  font-family: var(--normal-font), sans-serif;
  font-size: var(--font-size);
}

#wrapper {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0;
  border: 0;
  padding: 0;
}

#wrapper > #intro {
  position: fixed;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0;
  border: 0;
  padding: 0;
  background-color: #000000;
  opacity: 1;
  z-index: 2;
  color: #ffffff;
  transition: all 0.5s;
}

.intro p {
  margin: 0;
  border: 0;
  padding: 0;
}

#message {
  opacity: 0;
  transition: all 1s;
  font-size: 3rem;
  font-weight: 200;
}

#wrapper > #page {
  width: 50%;
  margin: 0;
  border: 1px solid var(--page-border-color);
  border-radius: var(--page-border-radius);
  padding: 0;
  background-color: var(--page-background-color);
  text-shadow: var(--text-shadow);
  box-shadow: var(--page-box-shadow);
  backdrop-filter: blur(var(--page-blur));
  -webkit-backdrop-filter: blur(var(--page-blur));
  opacity: 0;
  z-index: 1;
  transition: opacity 0.5s;
}
@media only screen and (max-device-width: 480px) {
  #wrapper > #page {
    width: 90%;
  }
}

#photo {
  display: block;
  margin: 2vh 0 0 0;
  border: 0;
  padding: 0;
  text-align: center;
}

#photo img {
  height: 20vh;
  width: auto;
  margin: 0;
  border: 0;
  border-radius: 50%;
  padding: 0;
  vertical-align: top;
  filter: drop-shadow(var(--text-shadow));
}
@media only screen and (max-device-width: 480px) {
  #photo img {
    width: 33%;
    height: auto;
  }
}

#name {
  margin: 2vh 0 0 0;
  border: 0;
  padding: 0;
  text-align: center;
}

#name p {
  margin: 0;
  border: 0;
  padding: 0;
  font-size: 3vw;
  vertical-align: middle;
  font-weight: 200;
  color: var(--page-foreground-color);
}
@media only screen and (max-device-width: 480px) {
  #name p {
    font-size: 5vh;
  }
}

#social {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 0;
  border: 0;
  padding: 0;
}

#social > .icons {
  flex: 1;
  flex: 1 1 25%;
  margin: 0;
  border: 0;
  padding: 0;
  text-align: center;
  filter: drop-shadow(var(--text-shadow));
}
@media only screen and (max-device-width: 480px) {
  #social > .icons {
    flex: 1 1 50%;
  }
}

.icons svg {
  width: 100%;
  height: auto;
  margin: 0;
  border: 0;
  padding: 0;
  vertical-align: top;
  scale: 0.8;
  opacity: 0.75;
  transition: all 0.3s;
  color: var(--page-foreground-color);
}
@media only screen and (max-device-width: 480px) {
  .icons svg {
    opacity: 1;
  }
}

.icons svg:hover {
  scale: 0.9;
  opacity: 1;
  cursor: pointer;
}

#footer {
  margin: 2vh 0 0 0;
  border: 0;
  padding: 0;
  font-weight: 100;
  text-align: center;
  opacity: 0.66;
}

#footer p {
  margin: 0;
  border: 0;
  padding: 0;
  font-size: 1.5vh;
  color: var(--page-foreground-color);
}
